[Desktop Entry]
Version=1.0
Name=Root	
Exec=xterm
Icon=/usr/share/pixmaps/console48.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator
StartupNotify=true
