[Desktop Entry]
Version=1.0
Name=Apps	
Exec=rox /usr/share/application
Icon=/usr/share/pixmaps/system48.png
Terminal=false
Type=Application
Categories=System;Rox;Drives
StartupNotify=true
