[Desktop Entry]
Version=1.0
Name=Browser	
Exec=iceweasel
Icon=/usr/share/pixmaps/iceweasel
Terminal=false
Type=Application
Categories=Application;Browser;default
StartupNotify=true
GenericName=
